<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800&display=swap" rel="stylesheet">
</head>

<body>

  <%= render 'home/header' %>
  <%= render 'home/navbar' %>
  <%= render 'presets/submit_form' %>
  
  
  <div id="rubyPresetContainer">
  </div>

  <div class="pad-container" id="rubyCodeContainer">
  </div>

  <turbo-frame id="custom-partial-frame">
    <%= render 'presets/custom', locals: {selected_preset: @selected_preset} %>
  </turbo-frame>
  
  <%= render 'home/footer' %>


</body>