<p style="color: green"><%= notice %></p>

<h1>Custom Presets</h1>

<%= link_to "New preset", new_preset_path %>

<div id="presets">
  <% @presets.each do |preset| %>
    <%= render preset %>
    <p>
      <%= link_to preset.filename, preset %>
    </p>
  <% end %>
</div>

<%= link_to "Back", root_path %>

