<p style="color: green"><%= notice %></p>

<%= render @preset %>

<p>
  <strong>Preset Name:</strong>
  <%= @preset.filename %>

  <div class="pad-container" id="customCodeContainer">
  
  <% @preset.audio_files.each do |audio_file| %>
  
    <button class="play-button pad-member" data-src="<%= rails_blob_path(audio_file) %>" >Test</button>
        <audio class="audio-player">
            <source src="<%= rails_blob_path(audio_file) %> type="audio/wav">
            Your browser does not support the audio element.
        </audio>

  <% end %>

  </div>

</p>

<div>
  <%= link_to "Edit this preset", edit_preset_path(@preset) %> |
  <%= link_to "Back to presets", presets_path %>

  <%= button_to "Destroy this preset", @preset, method: :delete %>
</div>
